// Works styles
.works {
    width: 100%;
    position: absolute; 
    top: 0; 
    left: 0;
    background-color: $background-works;
    color: #FFF;

    .works__container {
        .works__title {
            font-family: "Futura_Medium";
                position: relative;
                z-index: 1;
    
                &::after {
                    content: "Mes travaux";
                    color: #5A5A5A;
                    z-index: -1;
                    right: 225px;
                    bottom: 15px;
                    position: relative;
                    opacity: 0.3;
                }
        }

        .works__lists {
            display: flex;
            flex-wrap: wrap;

            .works__project {
                .works__mission {
                    width: 335px;
                }
            }
            

            .works__project-title {
                font-family: "Futura_Medium";
                display: inline;
                padding: 10px;
                margin-top: 20px;
                background: #FFF;
                color: #293141;
                width: 50%;
                text-decoration: none;
                border: none;
                outline: none;

                &:active, &:visited, &:focus {
                    text-decoration: none;
                    border: none;
                    outline: none;
                }
            }
        }

        .works__to-home {
            @include button-navigation;
            margin-top: 90px;
            display: inline-block;
        }
    }
}

// Bigger than 1200
@media (min-width: $desktop-screen) {
    .works__container {
        width: 800px;
        margin: 130px auto 100px auto;
    }

    .works__title {
        font-family: "Futura_Medium";
        font-size: 60px;

        &::after {
            font-size: 70px;
            right: 225px;

        }
    }

    .works__lists {
        margin-top: 65px;
    }

    .works__project {
        display: flex;
        flex-direction: column;
        margin: 25px;
    }
}

// Beetween tablet and desktop
@media (min-width: $inter-screen) and (max-width: $desktop-screen) {
    .works__container {
        width: 70%;
        margin: 130px auto 100px auto;
    }

    .works__title {
        font-family: "Futura_Medium";
        font-size: 60px;

        &::after {
            font-size: 45px;
            right: 225px;

        }
    }

    .works__lists {
        margin-top: 40px;
    }

    .works__project {
        display: flex;
        flex-direction: column;
        margin: 3px;
    }
}

// Beetween smartphone and tablet
@media (max-width: $inter-screen) {
    .works__container {
        width: 85%;
        margin: 55px auto 100px auto;
    }

    .works__title {
        font-family: "Futura_Medium";
        font-size: 45px;

        &::after {
            font-size: 40px;
            right: 165px;
        }
    }

    .works__lists {
        margin-top: 40px;
    }

    .works__project {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
}

@media (max-width: $smartphone-screen) {
    .works__container {
        width: 85%;
        margin: 130px auto 100px auto;
    }

    .works__title {
        font-family: "Futura_Medium";
        font-size: 35px;

        &::after {
            font-size: 30px;
        }
    }

    .works__lists {
        margin-top: 30px;
    }

    .works__project {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }
}
