// Works styles
.works {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background-color: $background-works;
    color: #FFF;

    .works__container {
        .works__title {
            font-family: "Futura_Medium";
            position: relative;
            z-index: 1;

            &::after {
                content: "Mes travaux";
                color: #5A5A5A;
                z-index: -1;
                right: 225px;
                bottom: 15px;
                position: relative;
                opacity: 0.3;
            }
        }

        .works__lists {

            .works__project-title {
                font-family: "Futura_Medium";
                display: inline;
                margin-top: 20px;
                color: #FFF;
                width: 50%;
                text-decoration: underline;
                border: none;
                outline: none;

                &:active,
                &:visited,
                &:focus {
                    text-decoration: none;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}

// Bigger than 1200
@media (min-width: $desktop-screen) {
    .works__container {
        width: 800px;
        margin: 130px auto 100px auto;
    }

    .works__title {
        font-family: "Futura_Medium";
        font-size: 60px;

        &::after {
            font-size: 70px;
            right: 225px;

        }
    }

    .works__lists {
        margin-top: 65px;
    }

    .works__project {
        display: flex;
        flex-direction: column;
        margin: 25px;

        .works__mission {
            width: 100%;
        }
    }
}

// Beetween tablet and desktop
@media (min-width: $inter-screen) and (max-width: $desktop-screen) {
    .works__container {
        width: 70%;
        margin: 130px auto 100px auto;
    }

    .works__title {
        font-family: "Futura_Medium";
        font-size: 60px;

        &::after {
            font-size: 45px;
            right: 225px;

        }
    }

    .works__lists {
        margin-top: 40px;
    }

    .works__project {
        display: flex;
        flex-direction: column;
        margin: 40px 3px 0px 3px;

        .works__mission {
            width: 100%;
        }
    }
}

// Beetween smartphone and tablet
@media (max-width: $inter-screen) {
    .works__container {
        width: 85%;
        margin: 55px auto 100px auto;
    }

    .works__title {
        font-family: "Futura_Medium";
        font-size: 45px;

        &::after {
            font-size: 40px;
            right: 165px;
        }
    }

    .works__lists {
        margin-top: 40px;
    }

    .works__project {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 15px;

        .works__mission {
            width: 95%;
        }
    }
}

@media (max-width: 410px) {

    .works__title {
        &::after {
            display: none;
        }
    }

    .works__project {

        .works__mission {
            width: 95%;
        }

    }
}

@media (max-width: $smartphone-screen) {
    .works__container {
        width: 85%;
        margin: 130px auto 100px auto;
    }

    .works__title {
        font-family: "Futura_Medium";
        font-size: 35px;

        &::after {
            display: none;
        }
    }

    .works__lists {
        margin-top: 30px;
    }

    .works__project {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 20px 0px 0px 0px;

        &:first-of-type {
            margin: 15px 0px 0px 0px;
        }

        .works__mission {
            width: 95%;
        }
    }
}